.main_button {
    border-radius: var(--rtc-br-primary);
    padding: var(--rtc-padding-xs) var(--rtc-padding-s);
    cursor: pointer;
    background-color: var(--rtc-bg-secondary);
    color: var(--rtc-text-primary);
    border: none;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.5s;
    position: relative;
}

.main_button.s {
    padding: var(--rtc-padding-xxs) var(--rtc-padding-xs);
    font-size: 14px;
    font-weight: 500;
}

.main_button.l {
    padding: var(--rtc-padding-s) var(--rtc-padding-m);
    font-size: 18px;
    font-weight: 700;
}

.main_button.dark {
    background-color: var(--rtc-bg-fifth);
    color: var(--rtc-text-tertiary);
}

.main_button:hover {
    background-color: var(--rtc-color-900);
}

.main_button.dark:hover {
    background-color: var(--rtc-color-100);
}

.main_button.dark.border {
    border: 2px solid var(--rtc-bg-secondary);
}

.main_button.border {
    border: 2px solid var(--rtc-bg-fifth);
}

.main_button.loading>div {
    position: absolute;
    right: 30px;
}

.main_button:disabled, .main_button.loading {
    background-color: rgb(150, 150, 150);
    cursor: not-allowed;
}

.main_button.loading {
    padding-right: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_button.loading:hover {
    background-color: rgb(150, 150, 150);
}