.common-form {
    display: flex;
    flex-direction: column;
    border-radius: var(--rtc-br-primary);
    background-color: var(--rtc-bg-fifth);
    padding: var(--rtc-padding-l);
    gap: var(--rtc-gap-m);
    justify-content: center;
    align-items: center;
    position: relative;
}

.common-form label {
    color: var(--rtc-text-tertiary);
}

.common-form.scheme-dark {
    background-color: var(--rtc-bg-secondary);
    color: var(--rtc-text-primary);
}

.common-form.scheme-dark label {
    color: var(--rtc-text-primary);
}