.best_project_wrp {
    border-radius: var(--rtc-br-primary);
    height: 260px;
    width: 300px;
    overflow: hidden;
    transition: all 0.5s;
    transform-style: preserve-3d;
}

.best_project_wrp:hover {
    /* transform: rotateX(-10deg) rotateY(0deg) scale(1.05); */
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.best_project_wrp>.best_project_detail {
    height: 40%;
    background-color: var(--rtc-color-100);
    padding: var(--rtc-padding-xs);
}

.best_project_detail h3,
.best_project_detail p {
    color: var(--rtc-color-900);
}

.best_project_detail {
    display: flex;
    flex-direction: column;
    gap: var(--rtc-gap-xs);
}

.best_project_average_rating {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--rtc-color-900);
    border-radius: 100%;
    background-color: var(--rtc-color-100);
    height: 45px;
    width: 45px;
}

.best_project_average_rating > p {
    color: var(--rtc-color-900);
}

.best_project_detail > div {
    display: flex;
    gap: var(--rtc-gap-xs);
    align-items: center;
    justify-content: space-between;
}

.best_project_detail > div > div {
    display: flex;
    gap: var(--rtc-gap-xs);
    align-items: center;
}