#home {
    min-height: 100svh;
    position: relative;
    background: linear-gradient(90deg, var(--rtc-bg-primary) 0%, var(--rtc-bg-secondary) 100%);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: var(--rtc-gap-xl);
    padding-top: var(--rtc-padding-xxl);
}

.hero>div {
    width: 100%;
    max-width: 970px;
    padding: var(--rtc-padding-s);
    border-radius: var(--rtc-br-primary);
}

.hero>div>img {
    opacity: 0;
    width: 100%;
    filter: drop-shadow(0px 0px 30px #ffffff);
    height: 100%;
    object-fit: contain;
}

.hero>p {
    text-align: center;
    font-size: 1.3rem;
    opacity: 0;
    max-width: 900px;
}