#skeleton {
    /* border-radius: var(--rtc-br-primary); */
    overflow: hidden;
    animation: skeleton_animation 1.5s infinite;
}

#skeleton.border-radius {
    border-radius: var(--rtc-br-primary);
}

@keyframes skeleton_animation {
    0% {
        background-color: #686868;
        border-color: #686868;
    }

    50% {
        background-color: rgba(112, 112, 112, 0.349);
        border-color: rgba(112, 112, 112, 0.349);
    }

    100% {
        background-color: #686868;
        border-color: #686868;
    }
}