.filter_projects {
    display: flex;
    gap: var(--rtc-gap-s) !important;
    justify-content: space-around !important;
    align-items: center !important;
    flex-wrap: wrap;
    flex-direction: row !important;
}

 .search_by_alumn{
    border-radius: var(--rtc-br-primary);
    background-color: var(--rtc-color-200);
    gap: 0px !important;
    padding: 0px var(--rtc-padding-s) 0px var(--rtc-padding-s);
    border-radius: var(--rtc-br-secondary) !important;
 }

 .search_by_alumn > input {
    border: none !important;
    color: #888888;
 }

 .search_select {
    background-color: var(--rtc-color-200) !important;
    width: 220px !important;
 }

 .search_select li {
    background-color: var(--rtc-color-200) !important;
    color: var(--rtc-color-800) !important;
 }

 .search_select input {
    color: #888888 !important;
    font-size: 17px;
 }