.create_project_form {
    min-height: 500px;
}

.create_project_form>img {
    width: 200px;
    position: absolute;
    top: 50px;
}

.create_project_form>.step_2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: var(--rtc-gap-m);
    flex-wrap: wrap;
}

.create_project_form .previous,
.create_project_form .next {
    width: 150px;
}

.create_project_form>.step_2>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--rtc-gap-xs);
}

.create_project_form>.step_2>div>label {
    font-weight: 500;
}

.buttons_create_project {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: var(--rtc-gap-m);
}

.create_project_form>.step_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--rtc-gap-m);
    flex-direction: column;
}

.create_project_form>.step_3 > div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: var(--rtc-gap-m);
    flex-wrap: wrap;
}

.create_project_form>.step_3 > h3 {
    font-size: 20px;
    color: var(--rtc-color-700);
}