.project_skeleton {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: var(--rtc-gap-m);
}

.project_skeleton_info_user_loading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--rtc-gap-s);
    flex-direction: column;
}

.project_skeleton_info_project_loading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 68svh;
}

.project_skeleton_info_project_left_loading {
    display: flex;
    flex-direction: column;
    gap: var(--rtc-gap-s);
    align-items: center;
}

.project_skeleton_info_project_left_description_loading {
    display: flex;
    flex-direction: column;
    gap: var(--rtc-gap-xs);
}

.project_skeleton_info_project_left_description_loading>div {
    width: 100%;
    height: 15px;
}

.project_skeleton_info_user_img_loading,
.project_skeleton_info_user_name_loading,
.project_skeleton_info_project_left_img_loading,
.project_skeleton_info_project_left_title_loading,
.project_skeleton_info_project_left_stars_loading,
.project_skeleton_info_project_left_description_loading>div {
    animation: skeleton_animation 1.5s infinite;
    border-radius: var(--rtc-br-primary);
}

.project_skeleton_info_user_img_loading {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.project_skeleton_info_user_name_loading {
    height: 31.5px;
    width: 300px;
}

.project_skeleton_info_project_left_img_loading {
    width: 250px;
    height: 250px;
}

.project_skeleton_info_project_left_title_loading {
    height: 40px;
    width: 200px;
}

.project_skeleton_info_project_left_description_loading {
    height: 100px;
    width: 300px;
}

.project_skeleton_info_project_left_stars_loading {
    width: 300px;
    height: 35px;
}

@keyframes skeleton_animation {
    0% {
        background-color: #686868;
        border-color: #686868;
    }

    50% {
        background-color: rgba(112, 112, 112, 0.349);
        border-color: rgba(112, 112, 112, 0.349);
    }

    100% {
        background-color: #686868;
        border-color: #686868;
    }
}