#projects {
    background-color: var(--rtc-bg-fifth);
    color: var(--rtc-text-tertiary);
    min-height: 100svh;
    padding: var(--rtc-padding-xl);
}

/* #projects * {
    color: var(--rtc-text-tertiary);
} */

#projects>.projects {
    display: flex;
    gap: var(--rtc-gap-m);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#projects>.change-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--rtc-margin-xl);
    gap: var(--rtc-gap-m);
}

#projects>.change-page>h3 {
    color: var(--rtc-text-tertiary);
}