.field-form {
    display: flex;
    flex-direction: column;
    gap: var(--rtc-gap-xs);
}

.field-form label {
    font-weight: 600;
    font-size: 17px;
}

.field-form input {
    padding: var(--rtc-padding-xs) 0px;
    border: none;
    border-bottom: var(--rtc-color-700) 2px solid;
    outline: none;
    background-color: transparent;
    font-size: 17px;
}

.scheme-dark .field-form input {
    border-bottom: var(--rtc-color-100) 2px solid;
    color: var(--rtc-color-100);
}

.scheme-dark .field-form input:-webkit-autofill,
.scheme-dark .field-form input:-webkit-autofill:hover,
.scheme-dark .field-form input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--rtc-bg-secondary) inset;
    -webkit-text-fill-color: var(--rtc-text-primary);
}

.field-form input:-webkit-autofill,
.field-form input:-webkit-autofill:hover,
.field-form input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--rtc-bg-fifth) inset;
}