.field-form {
    display: flex;
    flex-direction: column;
    gap: var(--rtc-gap-xs);
}

.field-form label {
    font-weight: 600;
    font-size: 17px;
}

.field-form input {
    padding: var(--rtc-padding-xs) 0px;
    border: none;
    border-bottom: var(--rtc-color-700) 2px solid;
    outline: none;
    background-color: transparent;
    font-size: 17px;
}

.scheme-dark .field-form input {
    border-bottom: var(--rtc-color-100) 2px solid;
    color: var(--rtc-color-100);
}